﻿@model Data2.Models.DataModel.Banner

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Banner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_banner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_banner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh_banner)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Anh_banner)" width="200" height="300" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_banner }) |
    @Html.ActionLink("Back to List", "Index")
</p>
