﻿@using Data2.Models.DataModel;
@model List<Banner>


@{foreach (var item in Model)
    {
        <a href="#">
            <img class="img-responsive" src="@item.Anh_banner" alt="Slideshow Image">

        </a>
    }
}