﻿
  
 <div class="col-80p col-md-9 right-column">
                            <!-- Product - Category Tab -->
                            <div class="section products-block category-tab">
                                <div class="block-title">
                                    <h2 class="title">Sản phẩm mới</h2>
                                </div>

                                <div class="block-content">
                                    <!-- Tab Navigation -->
                                    <div class="tab-nav">
                                        <ul>
                                            <li class="active">
                                                <a data-toggle="tab" href="new-arrivals.html">
                                                    <span>New Arrivals</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#best-seller">
                                                    <span>Best Seller</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#on-sale">
                                                    <span>On Sale</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Tab Content -->
                                    <div class="tab-content">
                                        <!-- New Arrivals -->
                                        <!--sản phẩm mới-->
                                        <div role="tabpanel" class="tab-pane fade in active" id="new-arrivals">
                                            <div class="products owl-theme owl-carousel">
                                                @Html.Action("San_pham_moiPratial","San_pham")                           
                 
                                               
                                            </div>
                                        </div>

                                        <!-- Best Seller -->
                                        <div role="tabpanel" class="tab-pane fade" id="best-seller">
                                            <div class="products owl-theme owl-carousel">
                                                <div class="product-item">
                                                    <div class="product-image">
                                                        <a href="product-detail-left-sidebar.html">
                                                            <img src="~/Accset/img/product/8.jpg" alt="Product Image">
                                                        </a>
                                                    </div>

                                                    <div class="product-title">
                                                        <a href="product-detail-left-sidebar.html">
                                                            Organic Strawberry Fruits
                                                        </a>
                                                    </div>

                                                    <div class="product-rating">
                                                        <div class="star on"></div>
                                                        <div class="star on"></div>
                                                        <div class="star on "></div>
                                                        <div class="star on"></div>
                                                        <div class="star"></div>
                                                    </div>

                                                    <div class="product-price">
                                                        <span class="sale-price">$120.00</span>
                                                    </div>

                                                    <div class="product-buttons">
                                                        <a class="add-to-cart" href="#">
                                                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="add-wishlist" href="#">
                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="quickview" href="#">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="product-item">
                                                    <div class="product-image">
                                                        <a href="product-detail-left-sidebar.html">
                                                            <img src="~/Accset/img/product/10.jpg" alt="Product Image">
                                                        </a>
                                                    </div>

                                                    <div class="product-title">
                                                        <a href="product-detail-left-sidebar.html">
                                                            Organic Strawberry Fruits
                                                        </a>
                                                    </div>

                                                    <div class="product-rating">
                                                        <div class="star on"></div>
                                                        <div class="star on"></div>
                                                        <div class="star on "></div>
                                                        <div class="star on"></div>
                                                        <div class="star"></div>
                                                    </div>

                                                    <div class="product-price">
                                                        <span class="sale-price">$96.00</span>
                                                    </div>

                                                    <div class="product-buttons">
                                                        <a class="add-to-cart" href="#">
                                                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="add-wishlist" href="#">
                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="quickview" href="#">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="product-item">
                                                    <div class="product-image">
                                                        <a href="product-detail-left-sidebar.html">
                                                            <img src="~/Accset/img/product/4.jpg" alt="Product Image">
                                                        </a>
                                                    </div>

                                                    <div class="product-title">
                                                        <a href="product-detail-left-sidebar.html">
                                                            Organic Strawberry Fruits
                                                        </a>
                                                    </div>

                                                    <div class="product-rating">
                                                        <div class="star on"></div>
                                                        <div class="star on"></div>
                                                        <div class="star on "></div>
                                                        <div class="star on"></div>
                                                        <div class="star"></div>
                                                    </div>

                                                    <div class="product-price">
                                                        <span class="sale-price">$80.00</span>
                                                        <span class="base-price">$90.00</span>
                                                    </div>

                                                    <div class="product-buttons">
                                                        <a class="add-to-cart" href="#">
                                                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="add-wishlist" href="#">
                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="quickview" href="#">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="product-item">
                                                    <div class="product-image">
                                                        <a href="product-detail-left-sidebar.html">
                                                            <img src="~/Accset/img/product/33.jpg" alt="Product Image">
                                                        </a>
                                                    </div>

                                                    <div class="product-title">
                                                        <a href="product-detail-left-sidebar.html">
                                                            Organic Strawberry Fruits
                                                        </a>
                                                    </div>

                                                    <div class="product-rating">
                                                        <div class="star on"></div>
                                                        <div class="star on"></div>
                                                        <div class="star on "></div>
                                                        <div class="star on"></div>
                                                        <div class="star"></div>
                                                    </div>

                                                    <div class="product-price">
                                                        <span class="sale-price">$80.00</span>
                                                        <span class="base-price">$90.00</span>
                                                    </div>

                                                    <div class="product-buttons">
                                                        <a class="add-to-cart" href="#">
                                                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="add-wishlist" href="#">
                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="quickview" href="#">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                       
                                        <!-- On Sale -->
                                        <div role="tabpanel" class="tab-pane fade" id="on-sale">
                                            <div class="products owl-theme owl-carousel">
                                                <div class="product-item">
                                                    <div class="product-image">
                                                        <a href="product-detail-left-sidebar.html">
                                                            <img src="~/Accset/img/product/4.jpg" alt="Product Image">
                                                        </a>
                                                    </div>

                                                    <div class="product-title">
                                                        <a href="product-detail-left-sidebar.html">
                                                            Organic Strawberry Fruits
                                                        </a>
                                                    </div>

                                                    <div class="product-rating">
                                                      
                                                        <div class="star on"></div>
                                                        <div class="star on"></div>
                                                        <div class="star on "></div>
                                                        <div class="star on"></div>
                                                        <div class="star"></div>
                                                    </div>

                                                    <div class="product-price">
                                                        <span class="sale-price">$80.00</span>
                                                        <span class="base-price">$90.00</span>
                                                    </div>

                                                    <div class="product-buttons">
                                                        <a class="add-to-cart" href="#">
                                                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="add-wishlist" href="#">
                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="quickview" href="#">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="product-item">
                                                    <div class="product-image">
                                                        <a href="product-detail-left-sidebar.html">
                                                            <img src="~/Accset/img/product/8.jpg" alt="Product Image">
                                                        </a>
                                                    </div>

                                                    <div class="product-title">
                                                        <a href="product-detail-left-sidebar.html">
                                                            Organic Strawberry Fruits
                                                        </a>
                                                    </div>

                                                    <div class="product-rating">
                                                        <div class="star on"></div>
                                                        <div class="star on"></div>
                                                        <div class="star on "></div>
                                                        <div class="star on"></div>
                                                        <div class="star"></div>
                                                    </div>

                                                    <div class="product-price">
                                                        <span class="sale-price">$120.00</span>
                                                    </div>

                                                    <div class="product-buttons">
                                                        <a class="add-to-cart" href="#">
                                                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="add-wishlist" href="#">
                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="quickview" href="#">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="product-item">
                                                    <div class="product-image">
                                                        <a href="product-detail-left-sidebar.html">
                                                            <img src="~/Accset/img/product/9.jpg" alt="Product Image">
                                                        </a>
                                                    </div>

                                                    <div class="product-title">
                                                        <a href="product-detail-left-sidebar.html">
                                                            Organic Strawberry Fruits
                                                        </a>
                                                    </div>

                                                    <div class="product-rating">
                                                        <div class="star on"></div>
                                                        <div class="star on"></div>
                                                        <div class="star on "></div>
                                                        <div class="star on"></div>
                                                        <div class="star on"></div>
                                                    </div>

                                                    <div class="product-price">
                                                        <span class="sale-price">$80.00</span>
                                                        <span class="base-price">$90.00</span>
                                                    </div>

                                                    <div class="product-buttons">
                                                        <a class="add-to-cart" href="#">
                                                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="add-wishlist" href="#">
                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="quickview" href="#">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="product-item">
                                                    <div class="product-image">
                                                        <a href="product-detail-left-sidebar.html">
                                                            <img src="~/Accset/img/product/10.jpg" alt="Product Image">
                                                        </a>
                                                    </div>

                                                    <div class="product-title">
                                                        <a href="product-detail-left-sidebar.html">
                                                            Organic Strawberry Fruits
                                                        </a>
                                                    </div>

                                                    <div class="product-rating">
                                                        <div class="star on"></div>
                                                        <div class="star on"></div>
                                                        <div class="star on "></div>
                                                        <div class="star on"></div>
                                                        <div class="star"></div>
                                                    </div>

                                                    <div class="product-price">
                                                        <span class="sale-price">$96.00</span>
                                                    </div>

                                                    <div class="product-buttons">
                                                        <a class="add-to-cart" href="#">
                                                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="add-wishlist" href="#">
                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                        </a>

                                                        <a class="quickview" href="#">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Newsletter -->
                            <div class="section newsletter">
                                <h2 class="block-title">Newsletter</h2>

                                <div class="block-content">
                                    <p class="description">Sign up for newsletter to receive special offers and exclusive news about FreshMart products</p>
                                    <form action="http://tivatheme.com/html/freshmart/index.html" method="post">
                                        <input type="text" placeholder="Enter Your Email">
                                        <button type="submit" class="btn btn-primary">Subscribe</button>
                                    </form>
                                </div>
                            </div>


                            <!-- Product - Category Double -->
                            <!-- Trái cây và nước ép-->
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="section products-block category-double">
                                        <div class="block-title">
                                            <h2 class="title">Trái cây</h2>
                                        </div>

                                        <div class="block-content">
                                            <div class="products owl-theme owl-carousel">
                                                <!--Trái cây-->
                                                @Html.Action("Trai_cayPartial","San_pham")
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="section products-block category-double">
                                        <div class="block-title">
                                            <h2 class="title">Nước ép</h2>
                                        </div>

                                        <div class="block-content">
                                            <div class="products owl-theme owl-carousel">
                                               <!--nước ép-->
                                                @Html.Action("Nuoc_epPartial", "San_pham")

                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Banners -->
                            <div class="section banners-block">
                                <div class="row margin-15">
                                    <div class="col-lg-6 col-md-6 col-sm-6 padding-15">
                                        <div class="banner-item effect">
                                            <a href="#">
                                                <img class="img-responsive" src="~/Accset/img/banner/home2-banner-4.png" alt="Banner">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 padding-15">
                                        <div class="banner-item effect">
                                            <a href="#">
                                                <img class="img-responsive" src="~/Accset/img/banner/home2-banner-5.png" alt="Banner">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Product - New Arrivals -->
                            <div class="section products-block new-arrivals layout-3">
                                <div class="block-title">
                                    <h2 class="title">New <span>Arrivals</span></h2>
                                </div>

                                <div class="block-content">
                                    <div class="products owl-theme owl-carousel">
                                        
                                    </div>
                                    </div>
                            </div>
                        </div>


