@media screen and (min-width: 1200px) {
    [class~=col-20p], .col-80p {
        position: relative;
    }

    .col-80p, [class~=col-20p] {
        width: 100%;
    }

    .col-80p, [class~=col-20p] {
        min-height: 1px;
    }

    .col-80p, [class~=col-20p] {
        -webkit-box-flex: 0;
    }

    [class~=col-20p] {
        -webkit-flex: 0 0 20%;
    }

    [class~=col-20p] {
        -ms-flex: 0 0 20%;
    }

    [class~=col-20p] {
        flex: 0 0 20%;
    }

    [class~=col-20p] {
        max-width: 20%;
    }

    [class~=col-20p], .col-80p {
        padding-left: .15625in;
    }

    .col-80p, [class~=col-20p] {
        padding-right: 15px;
    }

    .col-80p {
        -webkit-flex: 0 0 80%;
    }

    .col-80p {
        -ms-flex: 0 0 80%;
    }

    .col-80p {
        flex: 0 0 80%;
    }

    .col-80p {
        max-width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    [class~=products-block][class~=layout-3] [class~=product-item] {
        width: 99%;
    }

    [class~=home-2] #main-menu > ul > li > a {
        padding-left: 12px;
    }

    .home-4 .intro.section .intro-wrap {
        background-image: none;
    }

    [class~=home-5] #footer [class~=footer] [class~=footer-wrap] [class~=footer-col] {
        padding-left: 15pt;
    }

    [class~=home-4] [class~=intro] [class~=bottom-left] [class~=intro-item] {
        margin-left: auto;
    }

    [class~=products-block] [class~=product-item] {
        padding-left: .104166667in;
    }

    [class~=home-4] [class~=intro] [class~=bottom-right] [class~=intro-item] {
        margin-right: auto;
    }

    [class~=home-5] #footer [class~=footer] [class~=footer-wrap] [class~=footer-col] {
        padding-bottom: 0;
    }

    [class~=products-block] [class~=product-item] {
        padding-bottom: 22.5pt;
    }

    [class~=sidebar] [class~=filter-color] [class~=right] {
        padding-left: 0;
    }

    .home-5 .product-tab .tab-nav ul li a, .latest-news .blog-image {
        margin-right: 0;
    }

    [class~=product-detail] [class~=product-share] [class~=item]:last-child, [class~=product-detail] [class~=product-variants] [class~=product-variants-item]:last-child, .product-detail .product-review .item:last-child {
        margin-bottom: 0;
    }

    [class~=home-3] [class~=header-top] [class~=logo]:after {
        top: -.9375pc;
    }

    [class~=latest-news] [class~=blog-image] img, .product-detail .product-variants .product-variants-item, .product-detail .product-review .item, [class~=product-detail] [class~=product-share] [class~=item], [class~=product-detail] [class~=products-block][class~=layout-5] [class~=product-item] [class~=product-stock] {
        width: 100%;
    }

    [class~=home-2] #main-menu > ul > li > a {
        padding-bottom: .572916667in;
    }

    .product-detail .product-variants .product-variants-item {
        margin-left: 0;
    }

    [class~=products-block] [class~=product-item] {
        padding-right: .104166667in;
    }

    [class~=products-block] [class~=product-item] {
        padding-top: 22.5pt;
    }

    [class~=home-2] #main-menu > ul > li > a {
        padding-right: 12px;
    }

    [class~=product-detail] [class~=products-block][class~=layout-5] [class~=product-item] [class~=product-stock], .latest-news .blog-image {
        float: none;
    }

    [class~=product-detail] [class~=products-block][class~=layout-5] [class~=product-item] [class~=product-stock], .product-detail .product-variants .product-variants-item {
        margin-bottom: .9375pc;
    }

    [class~=home-2] #main-menu > ul > li > a {
        padding-top: .572916667in;
    }

    .home-5 .product-tab .tab-nav ul li a {
        min-width: 1.145833333in;
    }

    [class~=home-5] #footer [class~=footer] [class~=footer-wrap] [class~=footer-col] {
        padding-right: 15pt;
    }

    .intro, .latest-news .blog-image {
        margin-bottom: 15pt;
    }

    .home-3 #main-menu > ul > li > a {
        padding-left: 4.5pt;
    }

    [class~=latest-news] [class~=blog-info] {
        text-align: center;
    }

    .home-3 #main-menu > ul > li > a {
        padding-bottom: 28.5pt;
    }

    [class~=home-5] #footer [class~=footer] [class~=footer-wrap] [class~=footer-col] {
        padding-top: 0;
    }

    .product-detail .product-review .item, [class~=product-detail] [class~=product-share] [class~=item] {
        margin-bottom: 10px;
    }

    .home-3 #main-menu > ul > li > a {
        padding-right: 4.5pt;
    }

    .home-3 #main-menu > ul > li > a {
        padding-top: 28.5pt;
    }

    [class~=home-4] #main-menu > ul > li > a {
        padding-left: 6pt;
    }

    [class~=home-4] #main-menu > ul > li > a {
        padding-bottom: .5625in;
    }

    [class~=product-detail] [class~=products-block][class~=layout-5] [class~=product-item] [class~=product-stock] {
        padding-top: .052083333in;
    }

    [class~=home-4] #main-menu > ul > li > a {
        padding-right: 6pt;
    }

    [class~=home-4] #main-menu > ul > li > a {
        padding-top: .5625in;
    }

    [class~=home-2] [class~=header-top] [class~=form-search] form input[type="text"] {
        width: 1.458333333in;
    }

        [class~=home-2] [class~=header-top] [class~=form-search] form input[type="text"]:focus {
            width: 160px;
        }
}

@media screen and (max-width: 991px) {
    [class~=home-4] [class~=header-top] [class~=logo], .home-3 .header-top .logo, [class~=home-2] [class~=header-top] [class~=logo] {
        text-align: center;
    }

    [class~=home-2] [class~=header-top] [class~=logo] {
        margin-top: .208333333in;
    }

    [class~=header-top] [class~=row], [class~=header-top] #toggle-mobile-menu {
        display: block;
    }

    [class~=home-2] [class~=header-top] [class~=logo] {
        margin-bottom: .208333333in;
    }

    [class~=home-2] [class~=header-top] [class~=form-search], [class~=header-top] [class~=form-search] {
        float: left;
    }

    [class~=home-4] #footer [class~=footer] [class~=footer-col]:last-child, [class~=home-2] [class~=left-column] [class~=payment-intro] [class~=block-content] [class~=item], [class~=home-3] #footer [class~=footer-top] [class~=footer-col]:last-child, .home-2 #footer .footer .footer-col:last-child {
        margin-bottom: 0;
    }

    [class~=product-tab] [class~=tab-nav] ul li a, [class~=product-tab] [class~=tab-nav] ul li[class~=active] a {
        background: none;
    }

    [class~=home-2] #footer [class~=footer] [class~=footer-col], [class~=home-4] #footer [class~=footer] [class~=footer-col] {
        margin-bottom: 11.25pt;
    }

    [class~=product-tab] [class~=tab-nav] ul li a, [class~=product-tab] [class~=tab-nav] ul li[class~=active] a {
        color: #78b144;
    }

    [class~=home-3] [class~=header-top], [class~=product-tab] [class~=tab-nav] ul li[class~=active] a, [class~=header-top] {
        padding-left: 0;
    }

    [class~=block-cart] [class~=dropdown-content] {
        padding-top: .322916667in;
    }

    [class~=home-2] [class~=header-top] [class~=form-search], [class~=home-2] [class~=header-top] [class~=block-cart] {
        margin-bottom: .385416667in;
    }

    [class~=header-top] [class~=logo] {
        margin-bottom: 30px;
    }

    [class~=header-top] [class~=form-search] {
        margin-top: .052083333in;
    }

    [class~=home-3] [class~=header-top] [class~=my-account] [class~=dropdown-menu], [class~=home-4] [class~=header-top] [class~=my-account] [class~=dropdown-menu] {
        top: .770833333in;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=row] {
        display: -webkit-box;
    }

    [class~=product-tab] [class~=tab-nav] ul li[class~=active] a {
        padding-bottom: 0;
    }

    .home-3 .header-top .logo, [class~=home-4] [class~=header-top] [class~=logo] {
        margin-bottom: 1.25pc;
    }

    [class~=home-3] [class~=header-top], [class~=header-top] {
        padding-bottom: .3125in;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=row] {
        display: -moz-box;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=row] {
        display: box;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=row] {
        display: -webkit-flex;
    }

    .home-4 .header-top, [class~=home-3] [class~=header-top], [class~=product-tab] [class~=tab-nav] ul li[class~=active] a, [class~=header-top] {
        padding-right: 0;
    }

        [class~=home-4] [class~=header-top] [class~=header-right], [class~=home-3] [class~=header-top] [class~=header-right] {
            -webkit-box-pack: start !important;
        }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=row] {
        display: -moz-flex;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=row] {
        display: -ms-flexbox;
    }

    [class~=home-4] [class~=header-top] [class~=header-right], [class~=home-3] [class~=header-top] [class~=header-right] {
        -webkit-justify-content: flex-start !important;
    }

    [class~=header-top], .home-4 .header-top, [class~=home-3] [class~=header-top] {
        padding-top: .3125in;
    }

        [class~=home-3] [class~=header-top] [class~=header-right], [class~=home-4] [class~=header-top] [class~=header-right] {
            -ms-flex-pack: start !important;
        }

    .home-3 #header {
        position: relative;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=row] {
        display: flex;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=row] {
        -webkit-flex-wrap: wrap;
    }

    [class~=home-3] [class~=header-top] [class~=header-right], [class~=home-4] [class~=header-top] [class~=header-right] {
        justify-content: flex-start !important;
    }

    [class~=home-3] #footer [class~=footer-intro] {
        width: 302px;
    }

    [class~=section] {
        padding-top: 3.75pc;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=row] {
        -moz-flex-wrap: wrap;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=row] {
        -ms-flex-wrap: wrap;
    }

    .home-4 .header-top, [class~=home-3] [class~=header-top] {
        box-shadow: none;
    }

    [class~=home-2] [class~=header-top] [class~=form-search] form input[type="text"] {
        width: 170px;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=row] {
        flex-wrap: wrap;
    }

    [class~=payment-intro] [class~=row] > div:last-child [class~=item] {
        margin-bottom: 0;
    }

    [class~=product-tab] [class~=tab-nav] ul li[class~=active] a {
        padding-top: 0;
    }

    [class~=home-4] [class~=header-top] [class~=header-right], [class~=home-3] [class~=header-top] [class~=header-right] {
        display: block !important;
    }

    [class~=home-2] #footer [class~=footer] [class~=footer-col]:nth-child(2n+1) {
        clear: both;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=row] {
        -webkit-justify-content: center;
    }

    [class~=home-3] #footer [class~=footer-bottom] [class~=footer-left], [class~=home-3] #footer [class~=footer-top] [class~=footer-col], [class~=home-3] #footer [class~=footer-intro], [class~=home-5] #footer [class~=footer] [class~=footer-wrap] [class~=footer-col] {
        margin-bottom: .3125in;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=row] {
        -moz-justify-content: center;
    }

    [class~=home-3] [class~=header-top] [class~=logo]:before, [class~=home-3] [class~=header-top] [class~=logo]:after {
        content: none;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=row] {
        -ms-justify-content: center;
    }

    [class~=product-tab] [class~=tab-nav] ul li[class~=active] a {
        min-width: auto;
    }

    .home-4 .header-top, [class~=product-tab] [class~=tab-nav] ul li:hover a {
        padding-left: 0;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=row] {
        justify-content: center;
    }

    [class~=product-tab] [class~=tab-nav] ul li[class~=active] a {
        font-size: .166666667in;
    }

    [class~=sidebar] [class~=products-block][class~=layout-5] [class~=product-item] [class~=product-left] {
        padding-right: .15625in;
    }

    [class~=home-5] [class~=header-top], .home-4 .header-top {
        padding-bottom: 1.875pc;
    }

        .home-4 .header-top .my-account, [class~=home-5] [class~=block-cart], [class~=home-4] [class~=header-top] [class~=block-cart], .home-3 .header-top .my-account, [class~=home-3] [class~=header-top] [class~=block-cart] {
            float: right;
        }

        .home-3 .header-top .my-account, [class~=home-3] [class~=header-top] [class~=block-cart], [class~=home-4] [class~=header-top] [class~=block-cart], .home-4 .header-top .my-account {
            margin-right: 0;
        }

    .sidebar .products-block.layout-5 .product-item .product-right, [class~=home-3] [class~=header-top] [class~=my-account] i {
        margin-top: .125in;
    }

    [class~=home-5] [class~=site-content] {
        padding-left: 0;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=row] {
        -ms-flex-pack: center;
    }

    [class~=product-tab] [class~=tab-nav] ul li a, [class~=intro] [class~=intro-right], [class~=intro] [class~=intro-left], [class~=home-5] [class~=header-top] {
        padding-left: 0;
    }

    .products-block.layout-2 .product-item .product-left {
        text-align: center;
    }

    [class~=product-tab] [class~=tab-nav] ul li:hover a {
        background: none;
    }

    [class~=home-3] #footer [class~=footer-intro] {
        margin-left: auto;
    }

    .sidebar .products-block.layout-5 .product-item .product-right {
        padding-left: .15625in;
    }

    .products-block.layout-2 .product-item .product-left {
        -webkit-box-ordinal-group: 1;
    }

    [class~=product-tab] [class~=tab-nav] ul li:hover a {
        color: #78b144;
    }

    .intro {
        height: auto;
    }

    [class~=intro] [class~=intro-left], [class~=home-5] [class~=header-top], [class~=product-tab] [class~=tab-nav] ul li:hover a, [class~=intro] [class~=intro-right] {
        padding-right: 0;
    }

    [class~=home-5] [class~=header-top] {
        padding-top: 15pt;
    }

    [class~=product-tab] [class~=tab-nav] ul li:hover a {
        padding-bottom: 0;
    }

    [class~=home-4] [class~=header-top] [class~=block-cart], [class~=home-3] [class~=header-top] [class~=block-cart] {
        margin-top: .125pc;
    }

    [class~=home-5] [class~=block-header] {
        right: 15pt;
    }

    [class~=home-5] [class~=my-account] {
        margin-right: 7.5pt;
    }

    [class~=home-5] [class~=block-cart] {
        margin-right: 0;
    }

    .home-3 #header {
        top: 0;
    }

    .home-5 #header {
        position: relative;
    }

    [class~=payment-intro] [class~=item] {
        margin-bottom: 18.75pt;
    }

    .products-block.layout-2 .product-item .product-left {
        -webkit-box-ordinal-group: 2;
    }

    .products-block.layout-2 .product-item .product-left {
        -webkit-order: 0;
    }

    .products-block.layout-2 .product-item .product-left {
        -webkit-order: 1;
    }

    .intro {
        padding-bottom: 2.5pc;
    }

    [class~=home-4] [class~=intro] {
        padding-bottom: 0;
    }

    .products-block.layout-2 .product-item .product-left {
        -ms-flex-order: 0;
    }

    .products-block.layout-2 .product-item .product-left {
        -ms-flex-order: 1;
    }

    [class~=intro] [class~=intro-left], [class~=intro] [class~=intro-right], [class~=product-tab] [class~=tab-nav] ul li:hover a, [class~=product-tab] [class~=tab-nav] ul li a {
        padding-top: 0;
    }

    [class~=intro] [class~=intro-left] {
        margin-top: .208333333in;
    }

    [class~=product-tab] [class~=tab-nav] ul li a, [class~=intro] [class~=intro-right], [class~=intro] [class~=intro-left] {
        padding-bottom: 0;
    }

    .products-block.layout-2 .product-item .product-left {
        order: 0;
    }

    .products-block.layout-2 .product-item .product-left {
        order: 1;
    }

    [class~=home-3] #footer [class~=footer] [class~=footer-col]:nth-child(2n+1) {
        clear: both;
    }

    [class~=home-5] [class~=product-tab] [class~=tab-nav] ul li a, [class~=product-tab] [class~=tab-nav] ul li:hover a {
        min-width: auto;
    }

    #footer .footer-copyright .payment span, [class~=home-5] #footer [class~=footer] [class~=footer-image] {
        display: none;
    }

    [class~=product-tab][class~=tab-2] [class~=tab-nav] ul li a span {
        margin-top: 0;
    }

    [class~=home-5] #footer [class~=footer] [class~=footer-wrap] {
        padding-left: 0;
    }

    [class~=product-tab] [class~=tab-nav] ul li:hover a {
        font-size: .166666667in;
    }

    .products-block.layout-2 .product-item .product-left {
        padding-left: 0;
    }

    [class~=home-3] [class~=block-cart] [class~=dropdown-content], [class~=home-4] [class~=block-cart] [class~=dropdown-content] {
        padding-top: 35px;
    }

    .products-block.layout-2 .product-item .product-right {
        -webkit-box-ordinal-group: 0;
    }

    .products-block.layout-2 .product-item .product-right {
        -webkit-order: -1;
    }

    [class~=product-tab] [class~=tab-nav] ul li[class~=active] a, [class~=product-tab][class~=tab-2] [class~=tab-nav] ul li:hover a, [class~=product-tab] [class~=tab-nav] ul li:hover a, [class~=product-tab][class~=tab-2] [class~=tab-nav] ul li[class~=active] a {
        color: #3ba66b;
    }

    .products-block.layout-2 .product-item .product-right {
        -ms-flex-order: -1;
    }

    .products-block.layout-2 .product-item .product-right {
        order: -1;
    }

    [class~=home-5] [class~=header-top] [class~=logo], [class~=product-detail] [class~=product-quantity] [class~=qty] [class~=input-group], [class~=home-5] #footer [class~=footer-copyright] [class~=copyright] {
        margin-bottom: 15pt;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=product-countdown] {
        -webkit-justify-content: center;
    }

    [class~=product-tab][class~=tab-2] [class~=tab-nav] ul li:hover a, [class~=product-tab][class~=tab-2] [class~=tab-nav] ul li[class~=active] a {
        background: none;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=product-countdown] {
        -moz-justify-content: center;
    }

    .intro .img-responsive {
        display: inline-block;
    }

    [class~=home-3] [class~=site-content] {
        padding-bottom: 45pt;
    }

    [class~=home-5] [class~=header-top] [class~=social] {
        margin-bottom: 1.375pc;
    }

    [class~=sidebar] [class~=filter-color] [class~=right], .blog-detail .post-share, [class~=product-detail] [class~=product-quantity], [class~=sidebar] [class~=filter-color] [class~=left], .home-5 #header {
        width: 100%;

    }

    .blog-detail .post-share, .home-5 .header-top .form-search {
        float: none;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=product-countdown] {
        -ms-justify-content: center;
    }

    [class~=home-5] #footer [class~=footer] [class~=footer-wrap] {
        padding-bottom: 15pt;
    }

    .home-5 .header-top .form-search {
        margin-bottom: 0;
    }

    .product-tab.tab-2 .tab-nav {
        margin-top: -9pt;
    }

    [class~=home-5] #footer [class~=footer] [class~=footer-wrap], [class~=product-tab] [class~=tab-nav] ul li a {
        padding-right: 0;
    }

    [class~=home-2] [class~=intro] [class~=intro-image] {
        margin-bottom: .416666667in;
    }

    [class~=home-5] [class~=product-tab] [class~=tab-nav] ul li a {
        margin-right: .15625in;
    }

    [class~=testimonial][class~=layout-2] [class~=testimonial-wrap] {
        padding-top: 4.375pc;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=product-countdown] {
        justify-content: center;
    }

    [class~=products-block][class~=layout-2] [class~=product-item] [class~=product-countdown] {
        -ms-flex-pack: center;
    }

    [class~=home-4] [class~=section][class~=payment-intro] [class~=payment-wrap] {
        padding-bottom: 7.5pt;
    }

    .blog-detail .post-share {
        margin-top: .15625in;
    }

    [class~=home-5] #footer [class~=footer] [class~=footer-wrap] {
        padding-top: 15pt;
    }

    [class~=sidebar] [class~=filter-color] [class~=right], [class~=sidebar] [class~=filter-color] [class~=left] {
        margin-bottom: 12px;
    }

    #main-menu, [class~=product-tab] [class~=tab-nav] ul li a img {
        display: none;
    }

    [class~=home-3] #footer [class~=footer-intro] {
        margin-right: auto;
    }

    [class~=home-3] #footer [class~=footer-intro] {
        margin-top: 0;
    }

    [class~=home-3] #footer [class~=footer] {
        margin-top: 0;
    }

    [class~=home-5] #footer [class~=footer-copyright] [class~=copyright], .home-5 #footer .footer-copyright .payment {
        text-align: center;
    }

    [class~=home-3] #footer [class~=footer] {
        padding-bottom: 0;
    }

    .home-4 .header-top .my-account i {
        margin-top: .125in;
    }

    .home-5 #header {
        height: auto;
    }

    .home-5 #footer .footer-copyright .payment {
        margin-bottom: .625pc;
    }

    [class~=home-2] [class~=header-top] [class~=form-search] form input[type="text"]:focus {
        width: 2.083333333in;
    }

    [class~=product-tab] [class~=tab-nav] ul li a {
        min-width: auto;
    }

    [class~=product-tab] [class~=tab-nav] ul li a {
        font-size: .166666667in;
    }

    .home-5 #header {
        box-shadow: none;
    }

    [class~=home-5] #footer {
        padding-left: 0;
    }

    [class~=home-4] [class~=header-top]:after {
        content: none;
    }

    [class~=home-4] #footer [class~=footer] [class~=footer-col]:nth-child(2n+1) {
        clear: both;
    }

    [class~=home-5] [class~=product-tab] [class~=tab-nav] ul li:last-child a {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    [class~=home-2] [class~=intro] [class~=intro-header] h3 {
        margin-bottom: 30pt;
    }

    [class~=topbar] [class~=topbar-content] [class~=topbar-right] {
        padding-right: 1.25pc;
    }

    [class~=category-tab] [class~=product-item]:hover {
        -webkit-box-shadow: none;
    }

    [class~=deals-of-day] [class~=owl-nav], [class~=home-3] [class~=banners] [class~=banner-item] [class~=text] {
        display: none;
    }

    [class~=site-content] {
        padding-bottom: 3.75pc;
    }

    .category-tab .product-item {
        margin-left: 0;
    }

    [class~=category-tab] [class~=product-item]:hover {
        -moz-box-shadow: none;
    }

    [class~=category-tab] [class~=product-item]:hover {
        -ms-box-shadow: none;
    }

    [class~=category-tab] [class~=product-item]:hover {
        -o-box-shadow: none;
    }

    .category-tab .product-item {
        margin-bottom: 0;
    }

    [class~=deals-of-day], [class~=best-sellers] {
        padding-left: .260416667in;
    }

    .home-2 .topbar .topbar-content .topbar-right {
        padding-right: 0;
    }

    [class~=category-tab] [class~=product-item]:hover {
        box-shadow: none;
    }

    [class~=category-tab] [class~=product-item]:hover {
        border-left-width: .0625pc;
    }

    [class~=category-tab] [class~=product-item]:hover {
        border-bottom-width: .0625pc;
    }

    .category-tab .product-item {
        margin-right: 0;
    }

    [class~=category-tab] [class~=product-item]:hover {
        border-right-width: .0625pc;
    }

    .category-tab .product-item {
        margin-top: 0;
    }

    .testimonial.layout-2 .owl-theme .owl-dots {
        position: relative;
    }

    [class~=category-tab] [class~=product-item]:hover {
        border-top-width: .0625pc;
    }

    [class~=testimonial][class~=layout-2], [class~=testimonial][class~=layout-2] [class~=testimonial-wrap] {
        height: auto;
    }

    .testimonial.layout-2 .item, [class~=home-3] [class~=two-column] {
        padding-left: 22.5pt;
    }

    [class~=category-tab] [class~=product-item]:hover {
        border-left-style: solid;
    }

    .testimonial.layout-2 .owl-theme .owl-dots {
        bottom: auto;
    }

    [class~=category-tab] [class~=product-item]:hover {
        border-bottom-style: solid;
    }

    [class~=home-3] [class~=two-column], .testimonial.layout-2 .item {
        padding-bottom: 0;
    }

    [class~=category-tab] [class~=product-item]:hover {
        border-right-style: solid;
    }

    [class~=category-tab] [class~=product-item]:hover {
        border-top-style: solid;
    }

    #breadcrumb {
        margin-bottom: 45pt;
    }

    [class~=category-tab] [class~=product-item]:hover {
        border-left-color: #e3e0d3;
    }

    [class~=category-tab] [class~=product-item]:hover {
        border-bottom-color: #e3e0d3;
    }

    [class~=category-tab] [class~=product-item]:hover {
        border-right-color: #e3e0d3;
    }

    [class~=best-sellers], [class~=deals-of-day] {
        padding-right: .260416667in;
    }

    .testimonial.layout-2 .item, [class~=home-3] [class~=two-column] {
        padding-right: 22.5pt;
    }

    [class~=category-tab] [class~=product-item]:hover {
        border-top-color: #e3e0d3;
    }

    [class~=category-tab] [class~=product-item]:hover {
        border-image: none;
    }

    [class~=home-3] [class~=two-column] {
        padding-top: 0;
    }

    [class~=testimonial][class~=layout-2] [class~=testimonial-wrap] {
        padding-top: 3.125pc;
    }

    .testimonial.layout-2 .item {
        padding-top: 0;
    }
}

@media screen and (max-width: 767px) {
    [class~=home-2] [class~=topbar] [class~=topbar-content] [class~=topbar-right] > div, [class~=topbar] [class~=topbar-content] [class~=topbar-right] > div {
        border-left-width: medium;
    }

    .topbar .topbar-content .topbar-left {
        display: block !important;
    }

    [class~=latest-news] [class~=blog-item] {
        margin-bottom: 1.875pc;
    }

    [class~=topbar] [class~=topbar-content] [class~=topbar-right], #footer [class~=footer-copyright] [class~=payment], [class~=pagination-bar] [class~=text], [class~=pagination-bar] [class~=pagination], .topbar .topbar-content .topbar-left, #footer [class~=footer-copyright] [class~=copyright] {
        text-align: center;
    }

    [class~=topbar] [class~=topbar-content] [class~=topbar-left] > div {
        line-height: 1.875pc;
    }

    [class~=intro-header] {
        padding-top: 0;
    }

    [class~=category-tab] [class~=tab-nav] ul li a {
        width: auto;
    }

    .topbar .topbar-content .topbar-left {
        margin-left: 0;
    }

    [class~=home-3] [class~=two-column] {
        padding-left: 15pt;
    }

    [class~=intro-header] h3 {
        line-height: 1;
    }

    [class~=category-tab] [class~=tab-nav] ul li a, [class~=home-3] [class~=two-column] {
        padding-bottom: 0;
    }

    .topbar .topbar-content .topbar-left {
        margin-bottom: 0;
    }

    [class~=home-3] [class~=two-column] {
        padding-right: 15pt;
    }

    [class~=topbar] [class~=topbar-content] [class~=dropdown]:hover {
        background: transparent;
    }

    [class~=intro-header] h3 {
        font-size: 1.875pc;
    }

    [class~=topbar] [class~=topbar-content] [class~=topbar-left] > div {
        margin-right: 0;
    }

    .topbar .topbar-content .topbar-left {
        margin-right: 0;
    }

    [class~=intro-header] h3, .home-2 .banners .banner-item {
        margin-bottom: 11.25pt;
    }

    [class~=home-3] [class~=two-column], [class~=category-tab] [class~=tab-nav] ul li a {
        padding-top: 0;
    }

    .intro-header p {
        font-size: 9pt;
    }

    [class~=page-404] [class~=page-left] img {
        margin-top: 45pt;
    }

    .topbar .topbar-content .topbar-left {
        margin-top: .625pc;
    }

    [class~=pagination-bar] [class~=text], [class~=pagination-bar] [class~=pagination], [class~=page-404] [class~=row] {
        display: block;
    }

    .product-category-page .products-block.layout-5 .product-item {
        margin-bottom: .416666667in;
    }

    [class~=category-tab] [class~=tab-nav] ul li a {
        padding-left: .104166667in;
    }

    [class~=pagination-bar] [class~=text] {
        margin-bottom: 10px;
    }

    [class~=blog-list][class~=layout-2] [class~=post-item] [class~=post-left] {
        padding-right: 15px;
    }

    [class~=page-404] img {
        display: inline-block;
    }

    #footer [class~=footer-copyright] [class~=copyright], [class~=product-category-page] [class~=products-block][class~=layout-5] [class~=product-item]:last-child {
        margin-bottom: .208333333in;
    }

    [class~=home-2] [class~=topbar] [class~=topbar-content] [class~=topbar-right] > div, [class~=topbar] [class~=topbar-content] [class~=topbar-right] > div {
        border-left-style: none;
    }

    [class~=category-tab] [class~=tab-nav] ul li a {
        padding-right: .104166667in;
    }

    [class~=blog-list][class~=layout-2] [class~=post-item] [class~=post-left], [class~=product-category-page] [class~=products-block][class~=layout-5] [class~=product-item] [class~=product-image] {
        margin-bottom: 11.25pt;
    }

    [class~=pagination-bar] [class~=pagination] {
        float: none;
    }

    [class~=topbar] [class~=topbar-content] [class~=topbar-right] > div, [class~=home-2] [class~=topbar] [class~=topbar-content] [class~=topbar-right] > div {
        border-left-color: currentColor;
    }

    [class~=topbar] [class~=topbar-content] [class~=topbar-right] > div, [class~=home-2] [class~=topbar] [class~=topbar-content] [class~=topbar-right] > div {
        border-image: none;
    }

    [class~=topbar] [class~=topbar-content] [class~=topbar-right] {
        padding-right: 0;
    }

    .topbar .topbar-content .topbar-right > div:last-child, [class~=home-2] [class~=topbar] [class~=topbar-content] [class~=topbar-right] > div:last-child {
        border-right-width: medium;
    }

    [class~=contact-page] [class~=contact-info] [class~=justify-content-end], .page-404 .page-right img, .contact-page .contact-info .justify-content-center, [class~=product-detail] [class~=product-price] {
        margin-top: 15pt;
    }

    [class~=product-detail] [class~=payment-intro] {
        margin-top: .3125in;
    }

    [class~=home-2] [class~=topbar] [class~=topbar-content] [class~=topbar-right] > div:last-child, .topbar .topbar-content .topbar-right > div:last-child {
        border-right-style: none;
    }

    [class~=testimonial] [class~=item] [class~=name] {
        font-size: 14px;
    }

    .contact-page .contact-intro {
        width: 100%;
    }

    [class~=home-2] [class~=topbar] [class~=topbar-content] [class~=topbar-right] > div:last-child, .topbar .topbar-content .topbar-right > div:last-child {
        border-right-color: currentColor;
    }

    .contact-page .contact-info .justify-content-center, [class~=contact-page] [class~=contact-info] [class~=justify-content-end] {
        -webkit-box-pack: start !important;
    }

    [class~=home-2] [class~=topbar] [class~=topbar-content] [class~=topbar-right] > div:last-child, .topbar .topbar-content .topbar-right > div:last-child {
        border-image: none;
    }

    .contact-page .contact-info .justify-content-center, [class~=contact-page] [class~=contact-info] [class~=justify-content-end] {
        -webkit-justify-content: flex-start !important;
    }

    .contact-page .contact-info .justify-content-center, [class~=contact-page] [class~=contact-info] [class~=justify-content-end] {
        -ms-flex-pack: start !important;
    }

    [class~=contact-page] [class~=contact-info] [class~=justify-content-end], .contact-page .contact-info .justify-content-center {
        justify-content: flex-start !important;
    }

    [class~=category-tab] [class~=tab-nav] ul {
        position: relative;
    }

    [class~=category-tab] [class~=tab-nav] ul {
        top: auto;
    }

    [class~=category-tab] [class~=tab-nav] ul {
        margin-left: 0;
    }

    #footer [class~=footer-copyright] [class~=payment] {
        margin-bottom: .104166667in;
    }

    [class~=category-tab] [class~=tab-nav] ul {
        margin-bottom: 30px;
    }

    [class~=category-tab] [class~=tab-nav] ul {
        margin-right: 0;
    }

    [class~=category-tab] [class~=tab-nav] ul {
        margin-top: 1.25pc;
    }

    [class~=home-5] #footer [class~=footer] [class~=block-title] {
        margin-top: 0;
    }

    [class~=category-tab] [class~=tab-nav] ul li {
        margin-left: 0;
    }

    [class~=category-tab] [class~=tab-nav] ul li {
        margin-right: .5pc;
    }
}

@media screen and (max-width:414px) {
    [class~=block-cart] [class~=dropdown-content] [class~=cart-content] [class~=product-name] {
        width: 155px;
    }

    [class~=block-cart] [class~=dropdown-content] [class~=cart-content] [class~=product-image] img {
        width: 3.75pc;
    }

    [class~=block-cart] [class~=dropdown-content] [class~=cart-content] [class~=product-name] {
        margin-bottom: 2.25pt;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] [class~=item] p, .block-cart .dropdown-content .cart-content .cart-button {
        margin-left: 0;
    }

    [class~=block-cart] [class~=dropdown-content] [class~=cart-content] {
        width: 3.020833333in;
    }

        [class~=testimonial] [class~=item] [class~=content], [class~=block-cart] [class~=dropdown-content] [class~=cart-content] [class~=cart-button] a, [class~=newsletter-popup] [class~=popup] {
            padding-left: 1.25pc;
        }

        [class~=block-cart] [class~=dropdown-content] [class~=cart-content] [class~=product-image] img {
            margin-right: 7.5pt;
        }

        [class~=block-cart] [class~=dropdown-content] [class~=cart-content] [class~=cart-button] a {
            padding-bottom: .09375in;
        }

    [class~=home-3] [class~=intro] [class~=intro-content] [class~=item] p, .block-cart .dropdown-content .cart-content .cart-button {
        margin-bottom: 0;
    }

    .register-page .register-form, .login-page .login-form {
        width: 90%;
    }

    [class~=block-cart] [class~=dropdown-content] [class~=cart-content] [class~=cart-button] a, [class~=testimonial] [class~=item] [class~=content], [class~=newsletter-popup] [class~=popup] {
        padding-right: 15pt;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] [class~=item] p, .block-cart .dropdown-content .cart-content .cart-button {
        margin-right: 0;
    }

    .block-cart .dropdown-content .cart-content .cart-button {
        margin-top: 3.75pt;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] [class~=up-left], [class~=home-4] #footer [class~=footer] [class~=block] {
        padding-left: 0;
    }

    [class~=home-2] [class~=right-column] [class~=block-title] [class~=title] {
        font-size: 20px;
    }

    .home-3 .intro .intro-content .title {
        font-size: 1.75pc;
    }

    [class~=home-4] #footer [class~=footer] [class~=block], [class~=testimonial] [class~=item] [class~=content], [class~=home-3] [class~=intro] [class~=intro-content] {
        padding-bottom: 0;
    }

    [class~=testimonial] {
        padding-top: 1.875pc;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] [class~=up-left], [class~=home-3] [class~=intro] [class~=intro-content] [class~=up-right] {
        padding-bottom: 15px;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] [class~=up-left] {
        padding-right: .9375pc;
    }

    [class~=newsletter-popup] [class~=popup] {
        width: 80%;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] [class~=up-left], [class~=home-3] [class~=intro] [class~=intro-content] [class~=down-left], .home-3 .intro .intro-content .down-right, [class~=home-3] [class~=intro] [class~=intro-content] [class~=up-right] {
        padding-top: .9375pc;
    }

    .home-5 .header-top .logo, [class~=testimonial] {
        margin-top: 3.75pc;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] [class~=up-right] {
        padding-left: .15625in;
    }

    [class~=home-4] #footer [class~=footer] [class~=block], [class~=home-3] [class~=intro] [class~=intro-content] [class~=up-right] {
        padding-right: 0;
    }

    [class~=block-cart] [class~=dropdown-content] [class~=cart-content] [class~=cart-button] a {
        padding-top: .09375in;
    }

    [class~=home-2] [class~=newsletter] form {
        max-width: 260px;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] [class~=item] p {
        margin-top: 0;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] [class~=down-left] {
        padding-left: 0;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] [class~=up-left]:after {
        height: 200%;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] [class~=item] h4 {
        font-size: .8125pc;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] [class~=item] h4 {
        margin-bottom: .9375pc;
    }

    [class~=newsletter-popup] [class~=popup] {
        padding-bottom: .208333333in;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] [class~=down-left], .home-3 .intro .intro-content .down-right {
        padding-bottom: 0;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] [class~=down-left] {
        padding-right: .9375pc;
    }

    [class~=home-4] #footer [class~=footer] [class~=block], [class~=home-3] [class~=intro] [class~=intro-content], [class~=testimonial] [class~=item] [class~=content] {
        padding-top: 0;
    }

    .home-3 .intro .intro-content .down-right {
        padding-left: .15625in;
    }

    [class~=newsletter-popup] form {
        margin-bottom: 1.041666667in;
    }

    [class~=home-2] [class~=category-tab] [class~=block-title], .testimonial .item .job {
        margin-bottom: 0;
    }

    [class~=product-category-page] [class~=products-bar] [class~=total-products], [class~=product-category-page] [class~=products-bar] [class~=filter-bar] form:last-child {
        display: none;
    }

    [class~=newsletter-popup] [class~=popup] {
        padding-top: .208333333in;
    }

    [class~=home-3] [class~=header-top] [class~=form-search], [class~=home-4] [class~=header-top] [class~=form-search] {
        float: left;
    }

    .home-3 .intro .intro-content .down-right {
        padding-right: 0;
    }

    [class~=related-products][class~=products-block] [class~=products] [class~=owl-nav] {
        position: relative;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] {
        max-width: 100%;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] {
        padding-left: .104166667in;
    }

    [class~=home-3] [class~=intro] [class~=intro-content] {
        padding-right: .104166667in;
    }

    [class~=related-products][class~=products-block] [class~=products] [class~=owl-nav] {
        top: 0;
    }

    [class~=home-4] [class~=intro] [class~=intro-social] {
        margin-bottom: 35px;
    }

    [class~=related-products][class~=products-block] [class~=products] [class~=owl-nav] {
        left: 50%;
    }

    [class~=related-products][class~=products-block] [class~=products] [class~=owl-nav] {
        margin-top: 22.5pt;
    }

    [class~=blog-detail] [class~=post-author] [class~=author-meta] [class~=name] {
        font-size: .145833333in;
    }

    .related-products .block-title .title {
        font-size: 1.75pc;
    }

    [class~=post-item] [class~=post-info] [class~=item] {
        margin-right: .125in;
    }
}
