﻿@model Data2.Models.DataModel.Hoa_don

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết hóa đơn</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Khach_hang.Ho_ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khach_hang.Ho_ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pt_Thanh_Toan.Ten_thanh_toan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pt_Thanh_Toan.Ten_thanh_toan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pt_Van_Chuyen.Ten_van_chuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pt_Van_Chuyen.Ten_van_chuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tong_tien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tong_tien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay_tao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay_tao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ten_khach_hang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_khach_hang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emai_khach_hang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emai_khach_hang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.So_dien_thoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.So_dien_thoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dia_chi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia_chi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ghi_chu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ghi_chu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trang_thai_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai_1)
        </dd>

    </dl>
</div>
<p>
    <button name="PDF">In</button>
    @Html.ActionLink("Back to List", "Index")
</p>
