﻿@model IEnumerable<Data2.Models.DataModel.Hoa_don>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Khach_hang.Ho_ten)
        </th>
        <th>
            PT thanh toán
        </th>
        <th>
           PT vận chuyển
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tong_tien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngay_tao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emai_khach_hang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia_chi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ghi_chu)
        </th>
        <th>
            Xử lý
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Khach_hang.Ho_ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pt_Thanh_Toan.Ten_thanh_toan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pt_Van_Chuyen.Ten_van_chuyen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tong_tien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngay_tao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emai_khach_hang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia_chi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ghi_chu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trang_thai)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Ma_hoa_don }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_hoa_don })
        </td>
    </tr>
}

</table>
