﻿@model Data2.Models.DataModel.Phan_hoi_kh

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Phan_hoi_kh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Khach_Hang.Ho_ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khach_Hang.Ho_ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noi_dung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noi_dung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay_gio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay_gio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_phan_hoi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
