﻿@model IEnumerable<Data2.Models.DataModel.Phan_hoi_kh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Khach_Hang.Ho_ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Noi_dung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngay_gio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Khach_Hang.Ho_ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Noi_dung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngay_gio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trang_thai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma_phan_hoi }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma_phan_hoi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_phan_hoi })
        </td>
    </tr>
}

</table>
