﻿@using Data2.Models.DataModel
@model San_pham
@{
    ViewBag.Title = "Chi_tiet_san_pham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="center-column" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <div class="product-detail">
        <div class="products-block layout-5">
            <div class="product-item">
                <div class="product-title">
                    @Model.Ten_san_pham
                </div>

                <div class="row">
                    <div class="product-left col-md-5 col-sm-5 col-xs-12">
                        <div class="product-image horizontal">
                            <div class="main-image">
                                <img class="img-responsive" src="@Model.Anh_san_pham" alt="Product Image">
                            </div>
                            <div class="thumb-images owl-theme owl-carousel">
                                <img class="img-responsive" src="@Model.Anh_san_pham" alt="Product Image">
                               
                            </div>
                        </div>
                    </div>

                    <div class="product-right col-md-7 col-sm-7 col-xs-12">
                        <div class="product-info">
                            <div class="product-price">
                                <span class="sale-price">@Model.Gia_km <sup>đ</sup></span>
                                <span class="base-price">@Model.Gia <sup>đ</sup></span>
                            </div>

                            <div class="product-stock">
                                <span class="availability">Availability :</span><i class="fa fa-check-square-o" aria-hidden="true"></i>In stock
                            </div>

                            <div class="product-short-description">

                            </div>



                            <div class="product-add-to-cart border-bottom">
                                <div class="product-quantity">
                                    <span class="control-label">Số lượng :</span>
                                    <div class="qty">
                                        <div class="input-group">
                                            <input type="number" name="qty" value="1" data-min="1">

                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="product-quantity">
                                <span class="control-label">Danh mục:</span>
                                <div class="qty">
                                    <div class="input-group">
                                        <h5>@Model.Danh_muc.Ten_danh_muc</h5>
                                    </div>
                                </div>
                                <span class="control-label">Nhà cung cấp:</span>
                                <div class="qty">
                                    <div class="input-group">
                                        <h5>@Model.Nha_Cung_Cap.Ten_nha_cung_cap</h5>
                                    </div>
                                </div>
                            </div>
                            @using (Html.BeginForm("them_gio_hang", "Gio_hang", new { @ma_sp = Model.Ma_san_pham, @strUrl = Request.Url.ToString() }))
                            {
                                <div class="product-buttons">
                                    
                                    
                                        <input type="submit" value="Thêm vào giỏ" class="add-to-cart " width="500" />
                                   
                                </div>
                            }



                            @*<div class="product-extra">
            <div class="item">
                <span class="control-label">Review :</span><span class="control-label">E-02154</span>
            </div>
            <div class="item">
                <span class="control-label">Categories :</span>
                <a href="#" title="Vegetables">Vegetables,</a>
                <a href="#" title="Fruits">Fruits,</a>
                <a href="#" title="Apple">Apple</a>
            </div>
            <div class="item">
                <span class="control-label">Tags :</span>
                <a href="#" title="Vegetables">Hot Trend,</a>
                <a href="#" title="Fruits">Summer</a>
            </div>
        </div>*@
                        </div>
                    </div>
                </div>

                <div class="product-tab">
                    <!-- Tab Navigation -->
                    <div class="tab-nav">
                        <ul>
                            <li class="active">
                                <a data-toggle="tab" href="#description">
                                    <span>Mô tả</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#additional-information">
                                    <span>Additional Information</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#review">
                                    <span>Review</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Tab Content -->
                    <div class="tab-content">
                        <!-- Description -->
                        <div role="tabpanel" class="tab-pane fade in active" id="description">
                            <p>@Model.Mo_ta</p>
                        </div>

                        <!-- Product Tag -->
                        <div role="tabpanel" class="tab-pane fade" id="additional-information">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                        </div>

                        <!-- Review -->
                        <div role="tabpanel" class="tab-pane fade" id="review">
                            <div class="reviews">
                                <div class="comments-list">
                                    <div class="item d-flex">
                                        <div class="comment-left">
                                            <div class="avatar">
                                                <img src="img/avatar.jpg" alt="" width="70" height="70">
                                            </div>
                                            <div class="product-rating">
                                                <div class="star on"></div>
                                                <div class="star on"></div>
                                                <div class="star on"></div>
                                                <div class="star on"></div>
                                                <div class="star on"></div>
                                            </div>
                                        </div>
                                        <div class="comment-body">
                                            <div class="comment-meta">
                                                <span class="author">Peter</span> - <span class="time">June 02, 2018</span>
                                            </div>
                                            <div class="comment-content">Look at the sunset, life is amazing, life is beautiful, life is what you make it. To succeed you must believe. When you believe, you will succeed. In life there will be road blocks but we will over come it. Celebrate success right, the only way, apple. The ladies always say Khaled you smell good, I use no cologne. Cocoa butter is the key. </div>
                                        </div>
                                    </div>

                                    <div class="item d-flex">
                                        <div class="comment-left">
                                            <div class="avatar">
                                                <img src="img/avatar.jpg" alt="" width="70" height="70">
                                            </div>
                                            <div class="product-rating">
                                                <div class="star on"></div>
                                                <div class="star on"></div>
                                                <div class="star on"></div>
                                                <div class="star on"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                        <div class="comment-body">
                                            <div class="comment-meta">
                                                <span class="author">Merry</span> - <span class="time">June 17, 2018</span>
                                            </div>
                                            <div class="comment-content">Look at the sunset, life is amazing, life is beautiful, life is what you make it. To succeed you must believe. When you believe, you will succeed. In life there will be road blocks but we will over come it. Celebrate success right, the only way, apple. The ladies always say Khaled you smell good, I use no cologne. Cocoa butter is the key. </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="review-form">
                                    <h4 class="title">Write a review</h4>

                                    <form action="http://tivatheme.com/html/freshmart/index.html" method="post" class="form-validate">
                                        <div class="form-group">
                                            <div class="text">Your Rating</div>
                                            <div class="product-rating">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="text">You review<sup class="required">*</sup></div>
                                            <textarea id="comment" name="comment" cols="45" rows="6" aria-required="true"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <button class="btn btn-primary">Send your review</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Related Products -->
    <div class="products-block related-products">
        <div class="block-title">
            <h2 class="title">Related <span>Products</span></h2>
        </div>

        <div class="block-content">
            <div class="products owl-theme owl-carousel">
                <div class="product-item">
                    <div class="product-image">
                        <a href="product-detail-left-sidebar.html">
                            <img src="img/product/4.jpg" alt="Product Image">
                        </a>
                    </div>

                    <div class="product-title">
                        <a href="product-detail-left-sidebar.html">
                            Organic Strawberry Fruits
                        </a>
                    </div>

                    <div class="product-rating">
                        <div class="star on"></div>
                        <div class="star on"></div>
                        <div class="star on "></div>
                        <div class="star on"></div>
                        <div class="star"></div>
                    </div>

                    <div class="product-price">
                        <span class="sale-price">$80.00</span>
                        <span class="base-price">$90.00</span>
                    </div>

                    <div class="product-buttons">
                        <a class="add-to-cart" href="#">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        </a>

                        <a class="add-wishlist" href="#">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </a>

                        <a class="quickview" href="#">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div class="product-item">
                    <div class="product-image">
                        <a href="product-detail-left-sidebar.html">
                            <img src="img/product/15.jpg" alt="Product Image">
                        </a>
                    </div>

                    <div class="product-title">
                        <a href="product-detail-left-sidebar.html">
                            Organic Strawberry Fruits
                        </a>
                    </div>

                    <div class="product-rating">
                        <div class="star on"></div>
                        <div class="star on"></div>
                        <div class="star on "></div>
                        <div class="star on"></div>
                        <div class="star"></div>
                    </div>

                    <div class="product-price">
                        <span class="sale-price">$120.00</span>
                    </div>

                    <div class="product-buttons">
                        <a class="add-to-cart" href="#">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        </a>

                        <a class="add-wishlist" href="#">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </a>

                        <a class="quickview" href="#">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div class="product-item">
                    <div class="product-image">
                        <a href="product-detail-left-sidebar.html">
                            <img src="img/product/31.jpg" alt="Product Image">
                        </a>
                    </div>

                    <div class="product-title">
                        <a href="product-detail-left-sidebar.html">
                            Organic Strawberry Fruits
                        </a>
                    </div>

                    <div class="product-rating">
                        <div class="star on"></div>
                        <div class="star on"></div>
                        <div class="star on "></div>
                        <div class="star on"></div>
                        <div class="star"></div>
                    </div>

                    <div class="product-price">
                        <span class="sale-price">$80.00</span>
                        <span class="base-price">$90.00</span>
                    </div>

                    <div class="product-buttons">
                        <a class="add-to-cart" href="#">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        </a>

                        <a class="add-wishlist" href="#">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </a>

                        <a class="quickview" href="#">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div class="product-item">
                    <div class="product-image">
                        <a href="product-detail-left-sidebar.html">
                            <img src="img/product/9.jpg" alt="Product Image">
                        </a>
                    </div>

                    <div class="product-title">
                        <a href="product-detail-left-sidebar.html">
                            Organic Strawberry Fruits
                        </a>
                    </div>

                    <div class="product-rating">
                        <div class="star on"></div>
                        <div class="star on"></div>
                        <div class="star on "></div>
                        <div class="star on"></div>
                        <div class="star"></div>
                    </div>

                    <div class="product-price">
                        <span class="sale-price">$80.00</span>
                        <span class="base-price">$90.00</span>
                    </div>

                    <div class="product-buttons">
                        <a class="add-to-cart" href="#">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        </a>

                        <a class="add-wishlist" href="#">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </a>

                        <a class="quickview" href="#">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>