﻿@using Data2.Models.DataModel;
@model List<San_pham>
@{
    foreach (var item in Model)
    {
        <div class="product-item">
            <div class="product-image">
                    <img src="@item.Anh_san_pham" height="220" alt="Product Image">
                
            </div>

            <div class="product-title">
                <a href="@Url.Action("Chi_tiet_san_pham","San_pham", new {@id= +item.Ma_san_pham })">
                    @item.Ten_san_pham
                </a>
            </div>

            <div class="product-rating">
                <div class="star on"></div>
                <div class="star on"></div>
                <div class="star on "></div>
                <div class="star on"></div>
                <div class="star"></div>
            </div>

            <div class="product-price">
                <span class="sale-price">@item.Gia_km<sup>đ</sup></span>
                <span class="base-price">@item.Gia<sup>đ</sup></span>
            </div>

            <div class="product-buttons">
                <a class="add-to-cart" href="#">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </a>

                <a class="add-wishlist" href="#">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                </a>

                <a class="quickview" href="@Url.Action("Chi_tiet_san_pham","San_pham", new {@id= +item.Ma_san_pham })">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    }
}
