﻿@model Data2.Models.DataModel.Hoa_don_ct

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Hoa_don_ct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hoa_don.Ten_khach_hang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoa_don.Ten_khach_hang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.San_Pham.Ten_san_pham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.San_Pham.Ten_san_pham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.So_luong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.So_luong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia_km)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia_km)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
