﻿@model IEnumerable<Data2.Models.DataModel.Hoa_don_ct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hoa_don.Ten_khach_hang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.San_Pham.Ten_san_pham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.So_luong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia_km)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hoa_don.Ten_khach_hang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.San_Pham.Ten_san_pham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.So_luong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia_km)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Ma_hoa_don_ct }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_hoa_don_ct })
        </td>
    </tr>
}

</table>
