﻿@model Data2.Models.DataModel.Account

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ten_dang_nhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_dang_nhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mat_khau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_khau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quyen_Han)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quyen_Han)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_Account }) |
    @Html.ActionLink("Back to List", "Index")
</p>
