﻿@model IEnumerable<Data2.Models.DataModel.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten_dang_nhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mat_khau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quyen_Han)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_dang_nhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mat_khau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quyen_Han)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma_Account }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma_Account }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_Account })
        </td>
    </tr>
}

</table>
