﻿@model IEnumerable<Data2.Models.DataModel.Hoa_don>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Khach_hang.Ho_ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pt_Thanh_Toan.Ten_thanh_toan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pt_Van_Chuyen.Ten_van_chuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tong_tien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngay_tao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten_khach_hang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emai_khach_hang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.So_dien_thoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dia_chi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ghi_chu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trang_thai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trang_thai_1)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Khach_hang.Ho_ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pt_Thanh_Toan.Ten_thanh_toan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pt_Van_Chuyen.Ten_van_chuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tong_tien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngay_tao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten_khach_hang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emai_khach_hang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.So_dien_thoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dia_chi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ghi_chu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trang_thai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trang_thai_1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Ma_hoa_don }) |
                @Html.ActionLink("Details", "Details", new { id=item.Ma_hoa_don }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Ma_hoa_don })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
