﻿@model Data2.Models.DataModel.Khach_hang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Khach_hang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ho_ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ho_ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gioi_tinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gioi_tinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay_sinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay_sinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dien_thoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dien_thoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dia_chi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia_chi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passwood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passwood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay_tao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay_tao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_khach_hang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
