﻿@model Data2.Models.DataModel.Khach_hang

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
<div class="register-page">
    <div class="register-form form">
        <div class="form-horizontal">
            <div class="block-title">
                <h2 class="title"><span>Tạo tài khoản</span></h2>
            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
               
                <div class="col-md-10">
                   <h5>Họ và tên</h5>
                    @Html.EditorFor(model => model.Ho_ten, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ho_ten, "", new { @class = "text-danger" })
                    <br />
                    Email
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    <br />
                    <h5>Giới tính</h5>
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Gioi_tinh)
                            @Html.ValidationMessageFor(model => model.Gioi_tinh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <h5>Ngày sinh</h5>

                    @Html.EditorFor(model => model.Ngay_sinh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ngay_sinh, "", new { @class = "text-danger" })
                    <br />
                    <h5>Số điện thoại</h5>
                    @Html.EditorFor(model => model.Dien_thoai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dien_thoai, "", new { @class = "text-danger" })
                    <br />
                    <h5>Địa chỉ</h5>
                    @Html.EditorFor(model => model.Dia_chi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dia_chi, "", new { @class = "text-danger" })
                    <br />
                    <h5>Tên tài khoản</h5>
                    @Html.EditorFor(model => model.User, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.User, "", new { @class = "text-danger" })
                    <br />
                    <h5>Mật khẩu</h5>
                    
                    @Html.EditorFor(model => model.Passwood, new { htmlAttributes = new { Type="password", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Passwood, "", new { @class = "text-danger" })
                    <br />
                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>

                </div>
            </div>
          </div>
        </div>
    </div>
   
        }

        
