﻿@model IEnumerable<Data2.Models.DataModel.Hoa_don>
@{
    ViewBag.Title = "History_Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Lịch sử mua hàng</h1>
<div class="page-cart">
    <div class="table-responsive">
        <table class="cart-summary table table-bordered">
            <thead>
                <tr>

                    <th class="width-80 text-center">Ngày mua </th>
                    <th class=" width-80 text-center">  Tên người nhận</th>
                    <th class="width-100 text-center">Tổng tiền đơn hàng</th>
                    <th class="width-100 text-center">Tình trạng</th>

                    <th class="width-100 text-center"> Xem chi tiết</th>
                </tr>
            </thead>

            <tbody>

                @{
                    foreach (var item in Model)
                    {



                        <tr>

                            <td>

                                @Html.DisplayFor(modelItem => item.Ngay_tao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ten_khach_hang)
                            </td>
                            <td class="text-center">
                                @String.Format("{0:0,0 }", item.Tong_tien)<sup>đ</sup>
                            </td>

                            <td>
                                @if (@item.Trang_thai == true)
                                {
                                    <h5>đã gửi hàng</h5>
                                }
                                else
                                {
                                    <h5>chờ xử lý</h5>
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Xem chi tiết", "Transaction_details", new { id = item.Ma_hoa_don })
                            </td>


                        </tr>

                    }
                }

            </tbody>

            <tfoot>
                <tr class="cart-total"></tr>
                <tr class="cart-total"></tr>
                <tr class="cart-total"></tr>
            </tfoot>
        </table>
    </div>


</div>