﻿  
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="login-page">
        <div class="login-form form">
            <div class="block-title">
                <h2 class="title"><span>Đăng nhập</span></h2>
            </div>
            @Html.Raw(TempData["msg"])
            <form action="/Khach_hang/Login" method="post" >
                <div class="form-group">
                    <label>Tài khoản</label>
                    <input type="text"  required value="" name="user">
                </div>

                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input type="password"required value="" name="pass">
                </div>

                <div class="form-group text-center">
                    <div class="link">
                        <a href="#">Forgot your password?</a>
                        <a href="user-register.html">Register?</a>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary" value="Sign In">Đăng Nhập</button>
                </div>
            </form>
        </div>
    </div>
</div>
