﻿@model IEnumerable<Data2.Models.DataModel.Phan_hoi_kh>

@{
    ViewBag.Title = "PhanHoiKH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Phản hồi khách hàng</h1>
<div class="page-cart">
    <div class="table-responsive">
        <table class="cart-summary table table-bordered">
            <thead>
                <tr>

                    <th class="width-80 text-center">Ngày mua </th>
                    <th class=" width-80 text-center">  Tên người nhận</th>
                    <th class="width-100 text-center">Tổng tiền đơn hàng</th>
                    <th class="width-100 text-center">Tình trạng</th>

                    <th class="width-100 text-center"> Xem chi tiết</th>
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Khach_Hang)</td>
                            <td>@Html.DisplayFor(modelItem => item.Noi_dung)</td>
                            <td>@Html.DisplayFor(modelItem => item.Ngay_gio)</td>
                        </tr>
                    }
                }
        </table>
    </div>
</div>
