﻿@{
    ViewBag.Title = "Quen_pass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="login-page">
        <div class="login-form form">
            <div class="block-title">
                <h2 class="title"><span>Quên mật khẩu</span></h2>
            </div>
            @Html.Raw(TempData["msg"])
            <form action="/Khach_hang/Quen_pass" method="post">
                <div class="form-group">
                    <label>Tài khoản</label>
                    <input type="text" value="" name="user">
                </div>

                <div class="form-group">
                    <label>Email đăng ký</label>
                    <input type="text" value="" name="email">
                </div>

                <div class="form-group text-center">

                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary" value="Sign In">Lấy lại mật khẩu</button>
                </div>
            </form>
        </div>
    </div>
</div>