﻿@model IEnumerable<Data2.Models.DataModel.Hoa_don_ct>
@{
    ViewBag.Title = "Transaction_details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-cart">
    <div class="table-responsive">
        <table class="cart-summary table table-bordered">
            <thead>
                <tr>

                    <th class="width-80 text-center"><h5>Ảnh sản phẩm</h5></th>

                    <th class="width-100 text-center"><h5>Tên sản phẩm</h5></th>
                    <th class="width-100 text-center"><h5>Số Lượng</h5></th>

                    <th class="width-100 text-center"><h5>Tên khách hàng</h5></th>
                    <th class="width-100 text-center"><h5>Địa chỉ</h5></th>
                    <th class="width-100 text-center"><h5>Phương thức thanh toán</h5></th>
                    <th class="width-100 text-center"><h5>Phương thức vận chuyển</h5></th>
                    <th class="width-100 text-center"><h5>Ngày tạo</h5></th>
                    <th class="width-100 text-center"><h5>Giá</h5></th>
                </tr>
            </thead>

            <tbody>

                @{
                    foreach (var item in Model)
                    {

                        <tr>

                            <td>

                                <img src="@item.San_Pham.Anh_san_pham" width="75" />
                            </td>
                            <td class="text-center">
                                @item.San_Pham.Ten_san_pham
                            </td> 

                            <td>
                                @item.So_luong
                            </td>
                            <td>
                                @item.Hoa_don.Ten_khach_hang
                            </td>
                            <td>
                                @item.Hoa_don.Dia_chi
                            </td>
                            <td>
                                @item.Hoa_don.Pt_Thanh_Toan.Ten_thanh_toan
                            </td>
                            <td>
                                @item.Hoa_don.Pt_Van_Chuyen.Ten_van_chuyen
                            </td>
                            <td>
                                @item.Hoa_don.Ngay_tao
                            </td>
                           
                            <td>
                                <h4>@String.Format("{0:0,0 }", item.Gia)<sup>đ</sup></h4>
                            </td>


                        </tr>

                    }
                }

            </tbody>
            <a href="@Url.Action("History_Transaction","Khach_hang", new {id=Session["userid"] })" class="btn btn-success">Quay lại</a>

        </table>
    </div>


</div>