﻿@using Data2.Models.DataModel
@model List<Nha_cung_cap>
@{
    foreach (var item in Model)
    {
        <li class="has-image">
            
            <a href="@Url.Action("San_pham_ncc","Nha_cung_cap", new {@id= +item.Ma_nha_cung_cap })" title="Vegetables">@item.Ten_nha_cung_cap</a>
        </li>
    }
}


