﻿@using PagedList.Mvc;
@using PagedList;
@using Data2.Models.DataModel;
@model PagedList.PagedList<San_pham>
@{
    ViewBag.Title = "Ket_qua_tim_kiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="center-column" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <div class="product-category-page">
        <!-- Nav Bar -->
        <div class="products-bar">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="gridlist-toggle" role="tablist">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#products-grid" data-toggle="tab" aria-expanded="true"><i class="fa fa-th-large"></i></a></li>
                            <li><a href="#products-list" data-toggle="tab" aria-expanded="false"><i class="fa fa-bars"></i></a></li>
                        </ul>
                    </div>

                    <div class="total-products">There are 12 products</div>
                </div>

                <div class="col-md-6 col-xs-6">
                    <div class="filter-bar">
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <!-- Products Grid -->
            <h4>Kết quả tìm thấy:</h4>
            <div class="tab-pane active" id="products-grid">
                <div class="products-block">
                    <div class="row">
                        @{
                            foreach (var item in Model)
                            {
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="product-item">
                                        <div class="product-image">

                                            <img class="img-responsive" src="@item.Anh_san_pham" alt="Product Image">

                                        </div>

                                        <div class="product-title">
                                            <a href="@Url.Action("Chi_tiet_san_pham","San_pham", new {@id= +item.Ma_san_pham })">
                                                @item.Ten_san_pham
                                            </a>
                                        </div>

                                        <div class="product-rating">
                                            <div class="star on"></div>
                                            <div class="star on"></div>
                                            <div class="star on "></div>
                                            <div class="star on"></div>
                                            <div class="star"></div>
                                        </div>

                                        <div class="product-price">
                                            <span class="sale-price">đ @item.Gia_km<sup>đ</sup></span>
                                            <span class="base-price">đ @item.Gia<sup>đ</sup></span>
                                        </div>

                                        <div class="product-buttons">
                                            <a class="add-to-cart" href="#">
                                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                            </a>

                                            <a class="add-wishlist" href="#">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>

                                            <a class="quickview" href="@Url.Action("Chi_tiet_san_pham","San_pham", new {@id= +item.Ma_san_pham })">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }


                    </div>
                </div>
            </div>



        </div>

        <!-- Pagination Bar -->
        <div class="pagination-bar">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="text"> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) của @Model.PageCount</div>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="pagination">
                        <ul class="page-list">
                            <li>@Html.PagedListPager(Model, page => Url.Action("San_phamPartial", new { page }))</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

