﻿@model Data2.Models.DataModel.Pt_thanh_toan

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pt_thanh_toan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_thanh_toan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_thanh_toan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_pt_thanh_toan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
