﻿@model IEnumerable<Data2.Models.DataModel.Pt_thanh_toan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten_thanh_toan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_thanh_toan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trang_thai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma_pt_thanh_toan }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma_pt_thanh_toan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_pt_thanh_toan })
        </td>
    </tr>
}

</table>
