﻿
@using Data2.Models.DataModel;
@model List<Danh_muc>
    @{ foreach (var item in Model)
        {
<div class="item">
    <span class="arrow collapsed" data-toggle="collapse" data-target="#vegetables" aria-expanded="false" role="button">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span>

    <a class="category-title" href="@Url.Action("San_pham_theo_dm","Danh_muc", new {@id= +item.Ma_danh_muc })">@item.Ten_danh_muc</a>
   
</div>
      }
       }


