﻿@model Data2.Models.DataModel.Danh_muc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Danh_muc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_danh_muc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_danh_muc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trang_thai_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trang_thai_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai_2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_danh_muc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
