﻿@model IEnumerable<Data2.Models.DataModel.Danh_muc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten_danh_muc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trang_thai_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trang_thai_2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_danh_muc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trang_thai_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trang_thai_2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma_danh_muc }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma_danh_muc }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_danh_muc })
        </td>
    </tr>
}

</table>
