﻿@using Data2.Models.DataModel
@model Hoa_don


@{
    ViewBag.Title = "Gio_hang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-checkout">
        <div class="row">
            <div class="checkout-left col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <p>Returning customer? <a class="login" href="user-login.html">Click here to login</a>.</p>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Thông tin người mua hàng
                                </a>
                            </h4>
                        </div>
                        @using (Html.BeginForm("Dat_hang", "Gio_hang", FormMethod.Post))
                        {
                            @ViewBag.Message
                            <div class="accordion-body " style="height: 0px;">
                                <div class="panel-body">
                                    <form  class="form-horizontal">
                                        @*<div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Country</label>
                                                    <select class="form-control">
                                                        <option value="">Select a country</option>
                                                        <option value="australia">Australia</option>
                                                        <option value="brazil">Brazil</option>
                                                    </select>
                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Họ tên</label>
                                                <input type="text" id="ten_khach_hang" value="@Session["fullname"]" required name="ten_khach_hang" class="form-control ">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Email </label>
                                                <input type="email" id="emai_khach_hang" value="@Session["email"]"required name="emai_khach_hang"  class="form-control ">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Số điện thoại </label>
                                                <input type="text" id="dien_thoai"  value="@Session["dienthoai"]"required name="So_dien_thoai" class="form-control ">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Địa chỉ</label>
                                                <input type="text" id="Dia_chi" value="@Session["diachi"]"required name="Dia_chi" class="form-control ">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Ghi chú</label>
                                                <input type="text" id="ghi_chu" value="" required name="Ghi_chu" class="form-control ">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Phương thức vận chuyển</label>
                                                @Html.DropDownList("Ma_ptvan_chuyen", null, htmlAttributes: new { @class = "form-control van_chuyen" })
                                                @Html.ValidationMessageFor(model => model.Ma_ptvan_chuyen, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Phương thức thanh toán</label>
                                                @Html.DropDownList("Ma_ptthanh_toan", null, htmlAttributes: new { @class = "form-control thanh_toan" })
                                                @Html.ValidationMessageFor(model => model.Ma_ptthanh_toan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="submit" id="btn-add" value="Tiến hành thanh toán" class="btn pull-right">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>



                </div>

            </div>


        </div>
    </div>
</div>
@section scripts  {
    <script>
        function Thanh_Toan(Hoa_don) {
            $.ajax({
                type: "POST",
                url: "/Gio_hang/Dat_hang",
                data: Hoa_don,
                processData: false,// không xử lý dữ liệu gửi đi
                contenType: false;
                success: function (res) {
                    if (res == "success") {
                        alert("Đặt hàng thành công");
                        window.location.href = "/Home/Index"
                    } else {
                        console.log(res);
                        alert(res);
                    }
                }


            });
        }
        $(function () {
            $("#btn-add").click(function () {
                if (window.FormData != undefined) {
                    var formdata = new FormData();
                    formdata.append("Ten_khach_hang", $("#ten_khach_hang").val());
                    formdata.append("Emai_khach_hang", $("#emai_khach_hang").val());
                    formdata.append("So_dien_thoai", $("#dien_thoai").val()); 

                    formdata.append("Dia_chi", $("#dia_chi").val());
                    fromdata.append("Ghi_chu", $("#ghi_chu").val());
                    formdata.append("Ma_ptthanh_toan", $(".thanh_toan").val());
                    formdata.append("Ma_ptvan_chuyen", $(".van_chuyen").val());
                    Thanh_Toan(formdata);








                }
            });
        })
    </script>
}