﻿@using Du_an_2.Models
@model List < Gio_hang >


@{
    ViewBag.Title = "Gio_hang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="page-cart">
        <div class="table-responsive">
            <table class="cart-summary table table-bordered">
                <thead>
                    <tr>
                        <th class="width-20">&nbsp;</th>
                        <th class="width-80 text-center">Ảnh </th>
                        <th>Tên</th>
                        <th class="width-100 text-center">Giá</th>
                        <th class="width-100 text-center">Số lượng</th>
                        <th class="width-100 text-center">Tổng tiền</th>
                        <th class="width-100 text-center"> </th>
                    </tr>
                </thead>

                <tbody>

                    @{
                        foreach (var item in Model)
                        {



                            <tr>

                                <td class="product-remove">
                                    @Html.ActionLink("xóa", "Xoa_gio_hang", new { @ma_sp_x = item.iMa_sp })

                                </td>

                                <td>
                                    <a href="">
                                        <img width="80" alt="Product Image" class="img-responsive" src="@item.sHinhanh">
                                    </a>
                                </td>
                                <td>
                                    <a href="product-detail-left-sidebar.html" class="product-name">@item.sTenSp</a>
                                </td>
                                <td class="text-center">
                                    @String.Format("{0:0,0 }", item.fDongia)<sup>đ</sup>
                                </td>
                                @using (Html.BeginForm("Cap_nhat_gio_hang", "Gio_hang", new { @ma_sp = item.iMa_sp }))
                                {
                                    <td>
                                        <!-- cập nhật số lượng sản phẩm-->

                                        <div class="product-quantity">
                                            <div class="qty">
                                                <div class="input-group">
                                                    @Html.TextBox("txtSo_luong", item.iSoluong)
                                                    


                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                    <td class="text-center">
                                        @String.Format("{0:0,0 }", item.iThanhtien)<sup>đ</sup>
                                    </td>

                                    <td><input class="btn btn-primary pull-right" type="submit" value="Cập nhật" /></td>


                                }
                            </tr>

                        }
                    }

                </tbody>

                <tfoot>
                    <tr class="cart-total"></tr>
                    <tr class="cart-total"></tr>
                    <tr class="cart-total">

                        <td colspan="1" class="total text-right">Tổng tiền </td>
                        <td colspan="2" class="total text-center"> @String.Format("{0:0,0 }", @Session["Tongtien"])<sup>đ</sup></td>
                        

                    </tr>
                </tfoot>
            </table>
        </div>


    </div>
    <br />

    <!-- phần from đăng kí mua hàng-->

    <div class="page-checkout">
        <div class="row">
            <div class="checkout-left col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <td colspan="3" class="total text-center"><a href="@Url.Action("Dat_hang","Gio_hang")" class="btn btn-primary pull-right" type="submit" value="Thanh toán"> Thanh toán</a> </td>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           
                        </div>
                        <!-- form đăng kí mua hàng-->
                        
                    </div>

                   
            </div>

            @*<div class="checkout-right col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h4 class="title">Cart Total</h4>
                <table class="table cart-total">
                    <tbody>
                        <tr class="cart-subtotal">
                            <th>
                                <strong>Cart Subtotal</strong>
                            </th>
                            <td>
                                <strong><span class="amount">$431</span></strong>
                            </td>
                        </tr>
                        <tr class="shipping">
                            <th>
                                Shipping
                            </th>
                            <td>
                                Free Shipping<input type="hidden" value="free_shipping" class="shipping-method" name="shipping_method">
                            </td>
                        </tr>
                        <tr class="total">
                            <th>
                                <strong>Order Total</strong>
                            </th>
                            <td>
                                <strong><span class="amount">$431</span></strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>*@
        </div>
    </div>
</div>

</div>