﻿
<div class="block-cart dropdown">
    <div class="cart-title">
        <a href="@Url.Action("Gio_hang","Gio_hang")" >
            <i class="fa fa-shopping-basket"></i>
            <span class="cart-count">@ViewBag.Tongsoluong</span>
        </a>
    </div>

  
</div>