﻿@model Data2.Models.DataModel.San_pham

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "san_pham", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>San_pham</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Tên sản phẩm
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ten_san_pham, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ten_san_pham, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Danh mục
            <div class="col-md-10">
                @Html.DropDownList("Ma_danh_muc", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ma_danh_muc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Nhà cung cấp
            <div class="col-md-10">
                @Html.DropDownList("Ma_nha_cung_cap", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ma_nha_cung_cap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Ảnh
            <div class="col-md-10">
                <input type="file" name="PictureUpload" id="PictureUpload" class="form-control" />
                @Html.ValidationMessageFor(model => model.Anh_san_pham, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Mô tả
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mo_ta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mo_ta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Giá
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Giá khuyến mại
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia_km, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gia_km, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Ngày tạo
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ngay_tao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ngay_tao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Trạng thái admin
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Trang_thai_1)
                    @Html.ValidationMessageFor(model => model.Trang_thai_1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            Trạng thái người dùng
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Trang_thai_2)
                    @Html.ValidationMessageFor(model => model.Trang_thai_2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" id="JSDelete" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
