﻿@model Data2.Models.DataModel.San_pham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>San_pham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Danh_muc.Ten_danh_muc)
        </dd>

        <dt>
            Nhà cung cấp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nha_Cung_Cap.Ten_nha_cung_cap)
        </dd>

        <dt>
            Sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_san_pham)
        </dd>

        <dt>
            Ảnh
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Anh_san_pham)" width="200" height="300" />
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mo_ta)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            Giá khuyến mại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia_km)
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay_tao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
