﻿@model Data2.Models.DataModel.San_pham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        </dt>
        Danh mục
        <dd>
            @Html.DisplayFor(model => model.Danh_muc.Ten_danh_muc)
        </dd>

        <dt>
            Nhà cung cấp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nha_Cung_Cap.Ten_nha_cung_cap)
        </dd>

        <dt>
            Tên sản phâm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_san_pham)
        </dd>

        <dt>
            Ảnh
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Anh_san_pham)" width="200" height="300" />

        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mo_ta)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            Giá khuyến mãi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia_km)
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay_tao)
        </dd>

        <dt>
            Trạng thái admin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai_1)
        </dd>

        <dt>
            Trạng thái người dùng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai_2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_san_pham }) |
    @Html.ActionLink("Back to List", "Index")
</p>
