﻿@model PagedList.IPagedList<Data2.Models.DataModel.San_pham>
@using PagedList.Mvc;
@using PagedList;

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên danh mục:
        </th>
        <th>
            Nhà cung cấp:
        </th>
        <th>
            Tên sản phẩm:
        </th>
        <th>
            Giá:
        </th>
        <th>
            Giá khuyến mãi:
        </th>
        <th>
            Ngày tạo:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Danh_muc.Ten_danh_muc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nha_Cung_Cap.Ten_nha_cung_cap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten_san_pham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia_km)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngay_tao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Ma_san_pham }) |
                @Html.ActionLink("Details", "Details", new { id = item.Ma_san_pham }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Ma_san_pham })
            </td>
        </tr>
    }

</table>

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) của @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
