﻿@model Data2.Models.DataModel.Nha_cung_cap

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Nha_cung_cap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_nha_cung_cap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_nha_cung_cap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.So_dien_thoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.So_dien_thoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dia_chi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia_chi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trang_thai_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai_1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
