﻿@model Data2.Models.DataModel.Nha_cung_cap

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nha_cung_cap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_nha_cung_cap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_nha_cung_cap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.So_dien_thoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.So_dien_thoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dia_chi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia_chi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trang_thai_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai_1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_nha_cung_cap }) |
    @Html.ActionLink("Back to List", "Index")
</p>
