﻿@model IEnumerable<Data2.Models.DataModel.Nha_cung_cap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten_nha_cung_cap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.So_dien_thoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia_chi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trang_thai_1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_nha_cung_cap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.So_dien_thoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia_chi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trang_thai_1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma_nha_cung_cap }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma_nha_cung_cap }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_nha_cung_cap })
        </td>
    </tr>
}

</table>
