﻿@{ 
    if (Session["iduser"] == null)
    {
        Response.Redirect("~/Admin/Home/Login");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Dashboard</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Areas/Admin/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Areas/Admin/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/Areas/Admin/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Areas/Admin/Content/css/sb-admin.css" rel="stylesheet">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1">@Html.ActionLink("ADMIN", "Index")</a>

        <!-- Navbar Search -->

        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            @using (Html.BeginForm("Index", "San_Phams", FormMethod.Get))
            {
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" name="searchString" value="@ViewBag.Keyword">
                    <div class="input-group-append">
                        <input type="submit" value="Search" />
                    </div>
                </div>
            }
        </form>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <span class="badge badge-danger">9+</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>
                    <span class="badge badge-danger">7</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Activity Log</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Logout","Home")" title="My Wishlists"><i class="fa fa-close"></i>Đăng xuất</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="row">
        <div id="wrapper" class="col-md-2">
            <!-- Sidebar -->

            <ul class="sidebar navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","San_pham")">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Sản phẩm</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Pt_van_chuyen")">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Phương thức vận chuyển</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Pt_thanh_toan")">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Phương thức thanh toán</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Phan_hoi_kh")">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Phản hồi khách hàng</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Nha_cung_cap")">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Nhà cung cấp</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Khach_hang")">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Khách hàng</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Hoa_don_ct")">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Hóa đơn chi tiết</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Hoa_don")">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Hóa đơn</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Banners")">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Quảng cáo</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Tin_tuc")">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Tin tức</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.content-wrapper -->
        <div class="col-md-10">@RenderBody()</div>

    </div>


    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <!-- Logout Modal-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/Areas/Admin/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Areas/Admin/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="~/Areas/Admin/Content/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Areas/Admin/Content/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Areas/Admin/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Areas/Admin/Content/js/sb-admin.min.js"></script>
    <!-- Demo scripts for this page-->
    <script src="~/Areas/Admin/Content/js/demo/datatables-demo.js"></script>
    <script src="~/Areas/Admin/Content/js/demo/chart-area-demo.js"></script>
</body>

</html>
